<section class="contact-section">
  <div class="contact-container">
    <div class="contact-column">
      <div class="contact-content" >
        <!-- Address Section -->
        <div class="contact-item" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="600">
          <div class="contact-icon">
            <i class="fas fa-map-marker-alt"></i>
          </div>
          <h3 class="contact-title">Adresse</h3>
          <p class="contact-text">69 Rue Abderrahmen Ibn Aouf Les UV 42091 Menzah 6, Ariana, Tunisie</p>
        </div>

        <!-- Phone Section -->
        <div class="contact-item"  data-aos="fade-up" data-aos-duration="1500" data-aos-delay="600">
          <div class="contact-icon">
            <i class="fas fa-phone"></i>
          </div>
          <h3 class="contact-title">Tél</h3>
          <p class="contact-text">+216 26 380 100</p>
          <p class="contact-text">+216 26 380 200</p>
        </div>

        <!-- Email Section -->
        <div class="contact-item"  data-aos="fade-up" data-aos-duration="1500" data-aos-delay="600">
          <h3 class="contact-title">Email</h3>
          <p class="contact-text">contact&#64;crystalrentcar.com</p>
          <p class="contact-text">crystalrentcar&#64;gmail.com</p>
        </div>

        <!-- Hours Section -->
        <div class="contact-item"  data-aos="fade-up" data-aos-duration="1500" data-aos-delay="600">
          <div class="contact-icon">
            <i class="fas fa-clock"></i>
          </div>
          <h3 class="contact-title">Horaires</h3>
          <p class="contact-text">Lundi - Samedi</p>
          <p class="contact-text">7h:00 - 19h:00</p>
        </div>
      </div>
    </div>
  </div>
</section>
