<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 m-auto">
        <div class="login__container d-flex justify-content-between">
          <div class="login__img" data-aos="fade-left" data-aos-duration="1500" data-aos-delay="500">
            <img src="assets/all-images/login.jpg" alt="login" />
          </div>



          <div class="login__form" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="500">
            <div class="user">
              <img src="../../assets/all-images/logo.jpg" alt="User Icon" />
            </div>
            <h2>Se connecter</h2>


            <p *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</p>

            <form (ngSubmit)="handleClick($event)">
              <div class="form-group">
                <input type="email" placeholder="Email" required id="email" [(ngModel)]="credentials.email" name="email">
              </div>
              <div class="form-group">
                <input type="password" placeholder="Mot de passe" required id="password" [(ngModel)]="credentials.password" name="password">
              </div>

              <div class="robot-check">
                <label>
                  <input type="checkbox" [(ngModel)]="isRobot" name="robotCheck">
                  Je ne suis pas un robot
                </label>
              </div>
              <div class="robot-check">
                <label>
                  <input type="checkbox" [(ngModel)]="isUser" name="userCheck">
                  Je suis un client
                </label>
              </div>
              <button class="btn secondary__btn auth__btn" type="submit">
                <p>Se connecter</p>
              </button>
            </form>
            <p>Vous n'avez pas de compte ? <a routerLink="/register" class="text-black">Créer</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
