<button (click)="goBack()">Go Back</button>

<div class="container-fluid h-100 mt-5">
  <div class="row justify-content-center h-100">

    <div class="col-md-0 col-xl-1 order-lg-1"></div>

<!-- Left: User List -->
<div class="col-md-4 col-xl-2 chat order-last order-lg-2">
  <div class="card mb-sm-3 mb-md-0 contacts_card">
    <div class="card-header">
      <h1 class="chat-list-title">All Users</h1>
    </div>
    <div class="card-body contacts_body">
      <ul class="contacts chatList">
        <li *ngFor="let presentation of alluser">
          <div *ngIf="presentation.userName !== check" class="d-flex bd-highlight">
            <div class="img_cont">
              <div class="rounded-circle user_img text_inside_circle">
                {{ (presentation.userName || '')[0] || '?' }}
              </div>
            </div>
            <div class="user_info" (click)="goToChat(presentation.email)">
              <div style="margin-top: 1rem;">{{ presentation.userName }}</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="card-footer"></div>
  </div>
</div>


    <div class="col-md-0 col-xl-1 order-lg-3"></div>

    <!-- Center: Chat Body -->
    <div class="col-md-8 col-xl-5 chat order-md-1 order-lg-4">
      <div class="card">
        <div class="card-header msg_head">
          <div class="d-flex bd-highlight">
            <div class="img_cont">
              <div class="rounded-circle user_img text_inside_circle1">
                {{ ((secondUserEmail !== senderCheck ? secondUserEmail : firstUserEmail) || '')[0] || '?' }}
              </div>
            </div>
            <div class="user_info">
              <span>
                {{ (secondUserEmail !== senderCheck ? secondUserEmail : firstUserEmail) || '' }}
              </span>
              <p>Message</p>
            </div>
          </div>
        </div>

        <!-- Messages -->
        <div class="card-body msg_card_body" #scrollMe [scrollTop]="scrollMe.scrollHeight">
          <div *ngFor="let msg of messageList">

            <!-- Sent Message -->
            <div class="d-flex justify-content-end mb-4" *ngIf="msg.senderEmail === senderCheck">
              <div class="msg_cotainer_send">
                {{ msg.replymessage }}
                <span class="msg_time_send">{{ (msg.time || '').substring(11, 16) || '?' }}</span>
              </div>
              <div class="img_cont_msg">
                <span class="rounded-circle user_img_msg text_inside_circle2">
                  {{ (msg.senderEmail || '')[0] || '?' }}
                </span>
              </div>
            </div>

            <!-- Received Message -->
            <div class="d-flex justify-content-start mb-4" *ngIf="msg.senderEmail !== senderCheck">
              <div class="img_cont_msg">
                <span class="rounded-circle user_img_msg text_inside_circle3">
                  {{ (msg.senderEmail || '')[0] || '?' }}
                </span>
              </div>
              <div class="msg_cotainer">
                {{ msg.replymessage }}
                <span class="msg_time">{{ (msg.time || '').substring(11, 16) || '?' }}</span>
              </div>
            </div>

          </div>
        </div>

        <!-- Send Message -->
        <div class="card-footer">
          <form [formGroup]="chatForm">
            <div class="input-group">
              <div class="input-group-append">
                <span class="input-group-text attach_btn"></span>
              </div>
              <textarea
                class="form-control type_msg"
                placeholder="Type your message..."
                formControlName="replymessage"
                (keyup.enter)="sendMessage()">
              </textarea>
              <div class="input-group-append">
                <button mat-raised-button type="button" class="input-group-text send_btn" (click)="sendMessage()">
                  <i class="fa fa-location-arrow"></i>
                </button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>

    <!-- Right: Chat List -->
    <div class="col-md-4 col-xl-2 chat order-md-2 order-lg-5">
      <div class="card mb-sm-3 mb-md-0 contacts_card">
        <div class="card-header">
          <h1 class="chat-list-title">Chat List</h1>
        </div>
        <div class="card-body contacts_body">
          <ul class="contacts chatList">
            <li *ngFor="let chats of chatList">
              <div class="d-flex bd-highlight"
                   (click)="loadChatByEmail(chats.secondUserEmail || '', chats.firstUserEmail || '')">
                <div class="img_cont">
                  <div class="rounded-circle user_img text_inside_circle">
                    {{ ((chats.secondUserEmail !== senderCheck ? chats.secondUserEmail : chats.firstUserEmail) || '')[0] || '?' }}
                  </div>
                </div>
                <div class="user_info" style="margin-top: 1rem;">
                  {{ (chats.secondUserEmail !== senderCheck ? chats.secondUserEmail : chats.firstUserEmail) || '' }}
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-md-0 col-xl-1 order-lg-6"></div>

  </div>
</div>
